<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- APP SETTINGS -->
	<appSettings>

		<!-- DATABASE -->
		<add key="DB_SERVER_IP"
			 value="127.0.0.1" />

		<add key="DB_SERVER_PORT"
			 value="5432" />

		<add key="DB_NAME"
			 value="postgres" />

		<add key="DB_SERVER_USER"
			 value="postgres" />

		<!-- Base64 Encrypted Password -->
		<add key="DB_SERVER_PASSWORD"
			 value="postgres=" />

		<!-- DRIVE -->
		<add key="MONITOR_DRIVE"
			 value="D" />

		<add key="MIN_DRIVE_SPACE_GB"
			 value="10" />

		<!-- LOG -->
		<add key="LOG_FOLDER"
			 value="D:\Logs" />

		<add key="LOG_FILE_NAME"
			 value="BlacklistCleanupLog.txt" />

		<!-- TABLES -->
		<add key="BLACKLIST_TABLE_1"
			 value="tbl_etcblacklist_1" />

		<add key="BLACKLIST_TABLE_2"
			 value="tbl_etcblacklist_2" />

		<add key="BLACKLIST_TABLE_3"
			 value="tbl_etcblacklist_3" />

		<!-- INTERVAL -->
		<add key="CHECK_INTERVAL_SECONDS"
			 value="300" />

	</appSettings>

	<!-- STARTUP -->
	<startup>
		<supportedRuntime version="v4.0"
						  sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- RUNTIME -->
	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>
				<assemblyIdentity
					name="System.Runtime.CompilerServices.Unsafe"
					publicKeyToken="b03f5f7f11d50a3a"
					culture="neutral" />

				<bindingRedirect
					oldVersion="0.0.0.0-6.0.0.0"
					newVersion="6.0.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity
					name="System.Memory"
					publicKeyToken="cc7b13ffcd2ddd51"
					culture="neutral" />

				<bindingRedirect
					oldVersion="0.0.0.0-4.0.1.2"
					newVersion="4.0.1.2" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity
					name="System.Buffers"
					publicKeyToken="cc7b13ffcd2ddd51"
					culture="neutral" />

				<bindingRedirect
					oldVersion="0.0.0.0-4.0.3.0"
					newVersion="4.0.3.0" />
			</dependentAssembly>

		</assemblyBinding>

	</runtime>

</configuration>



